# --- Build & Maven ---
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# --- Archivos del OS ---
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# --- IntelliJ IDEA ---
.idea/
*.iws
*.iml
*.ipr
out/

# --- Logs & Datos Locales ---
*.log
logs/
*.hprof
.dbeaver/
.datagrip/
data-sources.xml

# --- Seguridad & Entornos Locales ---
.env
*.env
*.key
*.p12
*.jks
application-secret.properties
application-local.properties
*-local.properties
*local.yml
docker-compose.local.yml
docker-compose.override.yml

# --- Archivos temporales de estudio ---
api_plumberForDummies.R
HELP.md